.background-center {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
	overflow: hidden;
	background-color: #F3F4F6;
	padding: 1.5em 0;
}

.header {
    display: flex;                 
    min-width: 100%;               
    justify-content: center;       
    z-index: 20;                      
    gap: 1rem;                     
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    border-bottom: 3px solid #080808; 
}

.header-inner {
	display: flex;                   
    justify-content: space-between;  
    max-width: 1536px;               
    align-items: center;             
    flex: 1;   
}

.standard-container,
.standard-container-no-shadow {
	border: 3px solid #000000;
	width: 100%; 
	position: relative; 
	font-weight: bold; 
	padding: 0.875rem 1.5rem; 
	border-radius: 0.25rem; 
	color: black;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.standard-container {
	box-shadow: 5px 5px 0px 0px #000000; 
}

.tournament-grid,
.tournament-grid-sm {
	display: grid;
	gap: 0.625em;
}

.tournament-grid {
	grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}

.tournament-grid-sm {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tournament-joined,
.tournament-join {
	border: 4px solid green;
	padding: 0.875rem 1.5rem; 
	border-radius: 0.25rem; 
	box-shadow: 5px 5px 0px 0px #054205; 
	background-color: #00800059;
	font-weight: bold;
}

.tournament-join:hover {
	opacity: 0.75;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5em;
}

.loading {
	padding: 0.25em;
	border: #818CF8;
	border-radius: 100%;
}

.users-container {
	padding-left: 1.5rem; 
	padding-right: 1.5rem; 
	padding-top: 2.5rem; 
	padding-bottom: 2rem; 
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 4px 6px rgba(0, 0, 0, 0.1); 
	border-radius: 0; 
	background-color: #1e293b; 
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 4px 6px rgba(0, 0, 0, 0.1); 
	border: 1px solid rgba(17, 24, 39, 0.05); 
}

.mobile-wrapper {
	display: grid;
	grid-template-columns: 2.75fr 6fr;
	gap: 0.5em;
}

@media (max-width: 750px) {
	.tournament-grid,
	.tournament-grid-sm {
		display: flex;
		flex-direction: column;
	}
}
	
@media (min-width: 640px) {
	.users-container {
		margin-left: auto; 
		margin-right: auto; 
		border-radius: 0.5rem; 
		padding-left: 2rem; 
		padding-right: 2rem; 
	}
}
  
	
@media (max-width: 639px) {
	.users-container {
		padding-left: 1.25rem; 
		padding-right: 1.25rem; 
	}
}

.background-center {
	background-color: #6B7280;
}

.racket-cross-wrapper,
.racket-cross-wrapper-sm {
	margin-top: 0.5rem;
    display: flex;
    justify-content: center;
	align-items: center;
    position: relative;
}

.racket-cross-wrapper > img:first-child,
.racket-cross-wrapper-sm > img:first-child,
.racket-cross-wrapper > img:last-child,
.racket-cross-wrapper-sm > img:last-child {
	position: relative;
}

.racket-cross-wrapper > img:first-child,
.racket-cross-wrapper-sm > img:first-child {
    transform: scaleX(-1);
    z-index: 30;
}

.racket-cross-wrapper > img:first-child {
	left: 17px; 	
}

.racket-cross-wrapper > img:last-child {
	right: 17px; 	
}

.racket-cross-wrapper-sm > img:first-child {
	left: 9px; 
}

.racket-cross-wrapper-sm > img:last-child {
	right: 9px; 
}



.racket-cross-wrapper > img:first-child,
.racket-cross-wrapper > img:last-child {
	height: 6em; 	
}

.racket-cross-wrapper-sm > img:first-child,
.racket-cross-wrapper-sm > img:last-child {
	height: 3em;
}

.spin-loader {
	border: 3px solid #ffffff00;
	border-left: 3px solid #4f46e5;
	padding: 2rem;
	border-radius: 100%;
	animation: spin infinite 1.3s linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) { 
	.standard-container,
	.standard-container-no-shadow {
		padding: 0.4em 0.4em; 
	}
}